<!DOCTYPE html>

<html>

<head>
  <title>HOME LANDING PAGE </title>
</head>

<body>
  <h1>Hello user you are...</h1>
  <h3>HOME!</h3>

  {{#if message}}

  <p>Here is the new message! : </p>
  
  <blockquote>
  
    {{message}}
  
  </blockquote>




  {{/if}}



</body>
</html>