
doctype html

html

  head

    title= title

  include partials/navbar
  //- Partials navbar included. 

  br
  //- Block to be overriden when inherited
  body
    block content
  br
  br

//- Import JQuery and main.js
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(type='text/javascript', src="/js/main.js")