
//- Defines doctype
doctype html
//- Defines top level html
html
  head
 
    title= title

  include partials/navbar
  br

  //- Block to be overriden when inherited
  body
    block content
  br
  br

//-J-qeury script sources imported to do DOM manipulation of PUG files. 
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(type='text/javascript', src="/js/main.js")