extends layout 

block content 
  link(rel="stylesheet" href="/style.css")

  h2#main-welcome-title Welcome to the applcation. 

  p Please refer to the following links to first navigate to 
  the sign up page and then the sign in page. 

  ul 
    li 
      a(href="/signUp") Sign Up 
    li 
      a(href="/signIn") Sign In

      