extends layout 

block content 

  h2 Welcome to the applcation. 

  p Please refer to the following links to first navigate to 
  the sign up page and then the sign in page. 

  ul 
    li 
      a(href="/signUp") Sign Up 
    li 
      a(href="/signIn") Sign In

      