extends layout 

block content 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  h2#main-welcome-title Welcome to the applcation. 

  p Please refer to the following links to first navigate to 
  the sign up page and then the sign in page. 

  ul 
    li 
      a(href="/signUp") Sign Up 
    li 
      a(href="/signIn") Sign In

      