doctype html 


html 

  head 
    title = title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  body

    block content 

    br 
    br 

    footer 
      p &copy; 2023 - Security Coding With Node.js

