// this pug file contains a navbar for the front end to see 
// it will be included into other pug files within this view directory 

nav

  a(href = "/") Click here to view home
  br
  a(href="/recipe/add") Click me to add a recipe
  br 



