<!doctype html>

<html>

  <head>
    <title>About page</title>
  </head>

  <body>
    <h1>Welcome to about page.</h1>

  {{#if fortune}}
    <p>Here is the fortune for your day</p>
    <blockquote>{{fortune}}</blockquote>

  {{/if}}


  </body>




</html>