<!doctype html>

<html>

<head>
  <title>Home page</title>
</head>

<body>
  <h1>Welcome to home page.</h1>

  <p>
    Have any questions? Head on over to the next page!

    <a href="/views/about.handlebars" data-test-id="about">About us!</a>
  </p>

</body>




</html>