<!doctype html>

<html>
  <head>
    <title>MeadowLark Travel.</title>

    <img src="/public//img/logo.png" alt="Travel logo">

  </head>

  <body>
    {{{body}}}
  </body>
{{!--
These three curly braces allow for the 
injection capability that this templating engine describes. 
 --}}


</html>